<div class="form-group">
  <label class="col-md-2 control-label">{{label}}</label>
  <div class="col-md-4">
    {{view Ember.Select content=content value=value optionLabelPath=optionLabelPath optionValuePath=optionValuePath selection=selection prompt=prompt class="form-control"}}
  </div>
  <div class="col-md-6">
    {{yield}}
  </div>
</div>



