<div class="form-group">
  <label class="col-md-2 control-label">{{label}}</label>
  <div class="col-md-4">
    {{textarea class="form-control" size="30" value=value placeholder=placeholder}}
  </div>
</div>
