<div class="form-group tabbed_side_nav_form row">
  <ul class="nav nav-pills nav-stacked col-md-3 configuration" data-tabs="pills">
    <h3>Services</h3>
        <li class="">
          <a href="#neutron" data-toggle="tab">
            Neutron<span style="visibility: hidden" class ="glyphicon glyphicon-exclamation-sign" />
          </a>
        </li>
        <li class="">
          <a href="#glance" data-toggle="tab">
            Glance<span style="visibility: hidden" class ="glyphicon glyphicon-exclamation-sign" />
          </a>
        </li>
        <li class="">
          <a href="#cinder" data-toggle="tab">
            Cinder<span style="visibility: hidden" class ="glyphicon glyphicon-exclamation-sign" />
          </a>
        </li>
  </ul>

  <div class="tab-content col-md-9">
        <div class="tab-pane" id="neutron">
          <h3></h3>
        </div>
  </div>
</div>
