<div class='row'>
  <div class='col-md-8 col-md-offset-0'>
{{aa}}
    {{#accordion-item name=nameRhev isOpen=false}}
      List 1<br />
      List 2<br />
      List 3<br />
    {{/accordion-item}}

    {{#accordion-item name=nameOpenStack isOpen=false}}
      List 44<br />
      List 55<br />
      List 66<br />
    {{/accordion-item}}

    {{#accordion-item name=nameCloudForms isOpen=false}}
      List aaa<br />
      List bbb<br />
      List ccc<br />
    {{/accordion-item}}


    <br />
    <br />

    <div class='pull-right'>
      <br />
      <button {{action 'showModal' 'cancelDeploymentModal'}} class='btn btn-default'>Cancel</button>
      {{#link-to 'review.progress' class='btn btn-primary'}}Install{{/link-to}}
    </div>


  </div>
</div>

{{outlet}}
