<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='row'>
      <h3>Red Hat Enterprise Virtualization</h3>
      <div class='col-md-offset-1'>
      </div>
    </div>

    <div class='row'>
      <h3>Red Hat Enterprise Linux OpenStack Platform</h3>
      <div class='col-md-offset-1'>
      </div>
    </div>

    <div class='row'>
      <h3>Red Hat Enterprise Linux OpenStack Platform</h3>
      <div class='col-md-offset-1'>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class='pull-right'>
      <br />
      <button {{action 'showModal' 'cancelDeploymentModal'}} class='btn btn-default'>Cancel</button>
      {{#link-to 'review.progress' class='btn btn-primary'}}Install{{/link-to}}
    </div>


  </div>
</div>

{{outlet}}
