{{#if isEmberCliMode}}

  {{#if isLoggedIn}}
    {{partial "topbar"}}
  {{/if}}

  {{#if showMainMenu}}
    {{partial "mainmenu"}}
  {{/if}}

{{/if}}

<div {{bind-attr class="isLoggedIn:container"}}>
  {{outlet}}
</div>
