<div class="row">
  <div class='col-md-9'>
        <br />
        <form class="form form-horizontal">

<h4>&nbsp;&nbsp;&nbsp;&nbsp;Select Organization or
 {{!bs-button type='success' title="Create New Organization" clicked="showModal" clickedParamBinding="newOrganizationModal"}}
 <button class='btn btn-success' {{action 'showModal' 'newOrganizationModal'}}>Create New Organization</button>
</h4>
<br />
<br />

<table class="table table-bordered small">
  <thead>
    <tr>
      <th></th>
      <th> Organization </th>
      <th> Description </th>
    </tr>
  </thead>

  <tbody>
  {{#each org in organizations itemController="organization"}}
    {{tr-organization org=org selectedOrganzation=selectedOrganzation}}
  {{/each}}
  </tbody>
</table>

         {{!#select-f label='Organization'
                    content=organizations
                    optionLabelPath="content.name"
                    optionValuePath="content.id"
                    value=selectedOrganization.id
                    selection=selectedOrganization
                    prompt="Select Existing Organization"
                    labelSize='col-md-4' inputSize='col-md-8'
                    }}
         {{!/select-f}}


{{#bs-modal name="newOrganizationModal" fade=true footerButtonsBinding="rhciModalButtons" title="Create New Organization"}}
  {{partial 'new-organization'}}
{{/bs-modal}}

        <br />
        <br />
        <br />
        <br />
      TODO - change Environment
        <br />
<h4>&nbsp;&nbsp;&nbsp;&nbsp;Select Environment or
 <button class='btn btn-success disabled' {{action 'showModal' 'newEnvironmentModal'}}>Create New Environment</button>
</h4>

         {{#select-f label='Environment'
                    content=environments
                    optionLabelPath="content.name"
                    optionValuePath="content.id"
                    value=selectedEnvironment.id
                    selection=selectedEnvironment
                    prompt="Select Existing Environment"
                    labelSize='col-md-4' inputSize='col-md-8'
                    }}

         {{/select-f}}


        <br />
        <br />

          <div style='float:right'>
              {{#link-to 'satellite' class='btn btn-default'}}Back{{/link-to}}
              {{#link-to 'satellite.subscriptions' class='btn btn-primary'}}Next{{/link-to}}
          </div>

        </form>
  </div>


</div>
