<h1>TBD Content Sources</h1>

There are no subscriptions for upstream to we need to define the source(s) of the content ???



<div style='text-align:right'>
  <button {{action 'showModal' 'cancel-modal'}} class='btn btn-default'>Cancel</button>
  {{#link-to 'review.installation' class='btn btn-primary' disabled=disableTabInstallation}}Next{{/link-to}}
</div>
