<br />
<div class='row'>
  <div class='col-md-4'>
    <table class="table table-bordered small">
      <thead>
        <tr>
          <th> </th>
          <th> Interface </th>
        </tr>
      </thead>
      <tbody>
      {{#each network in controller.model itemController="network-config"}}
        {{tr-network net=network
                     selectedNetwork=selectedNetwork
                     action="redirectToNetworkRoute"}}
      {{/each}}
      </tbody>
    </table>
  </div>

  <div class='col-md-8'>
    {{outlet}}
  </div>
</div>

<br />
<br />

<div class='row'>
  <div class='col-md-12'>

{{textarea-f label='SSH Key' name=ssh_key value='ssh-rsa AAAAB3NzaC1yc2EAgEY/6LyBprZjYZrujI5Zcxo3oG7yOX6C0wG04efQ1SG6VM+T0oU8Q8pMKTvzGbPNjHMWqLfTY/+gp5wzHnNo8W49MD7Bph0F7MGcVulVi0aFRwyZ4dr1/B4Y3g9hUV3fodP6AH0QS/1DO/LFViOS89xCgI6Eq2lEZtoI+WRlp2HRQ== jmagen@redhat.com
'}}
{{text-f label='Root Password' value='********'}}
  </div>
 </div>
