
<div class='row'>
  <div class='col-md-12'>
      <h4>{{radio-button-f checked=rhevSetup value="selfhost" label='Self Hosted'}}</h4>
  </div>
</div>
<div class='row'>
  <div class='col-md-offset-2 col-md-8'>
      Description text that self hosted means this .....
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
      <h4>{{radio-button-f checked=rhevSetup value="rhevhost" label='RHEV Host'}}</h4>
  </div>
</div>
<div class='row'>
  <div class='col-md-offset-2 col-md-8'>
      Description text that self hosted means this .....
  </div>
</div>

{{!rhevSetup}}