<div class="form-group tabbed_side_nav_form row">

  <ul class="nav nav-pills nav-stacked col-md-3" data-tabs="pills">
      {{#link-to 'hypervisor' tagName='li'}}
        <a>Hypervisor</a>
      {{/link-to}}

      {{#link-to 'rhev.engine' tagName='li'}}
        <a>Engine</a>
      {{/link-to}}

      {{#link-to 'rhev.networking' tagName='li'}}
        <a>Networking</a>
      {{/link-to}}

      {{#link-to 'rhev.storage' tagName='li'}}
        <a>Storage</a>
      {{/link-to}}

      {{#link-to 'rhev.rhev-options' tagName='li'}}
        <a>Options</a>
      {{/link-to}}
  </ul>

      {{outlet}}

</div>

