<div class="form-group tabbed_side_nav_form row">

  <ul class="nav nav-pills nav-stacked col-md-3" data-tabs="pills">
      {{#link-to 'hypervisor' tagName='li'}}
        <a>Hypervisor</a>
      {{/link-to}}

      {{#link-to 'rhev-engine' tagName='li'}}
        <a>Engine</a>
      {{/link-to}}

      {{#link-to 'networking' tagName='li'}}
        <a>Networking</a>
      {{/link-to}}

      {{#link-to 'storage' tagName='li' disabled=disableContentTab}}
        <a>Storage</a>
      {{/link-to}}

      {{#link-to 'rhev-options' tagName='li' disabled=disableContentTab}}
        <a>Options</a>
      {{/link-to}}
  </ul>

  <div class="tab-content col-md-9">
        {{outlet}}
  </div>

</div>
