<div class='row'>
  <div {{bind-attr class=":col-md-12 :embed-responsive showSideMenu:nav-expanded"}}>
    <nav>
      <a {{action 'toggleSideMenu'}} id="nav-close">X</a>
      <iframe class='notepad embed-responsive-item' {{bind-attr src=etherpadUrl}}></iframe>
    </nav>
  </div>
</div>
