<div {{bind-attr class="showSideMenu:nav-expanded"}}>
  <a {{action 'toggleSideMenu'}} id="nav-expander" class="nav-expander fixed">
    UX Notes &nbsp;<i class="fa fa-bars fa-lg white"></i>
  </a>

  <nav>
    <a {{action 'toggleSideMenu'}} id="nav-close">X</a>
    <form class="form-horizontal" role="form">
      {{textarea class='form-control notepad' value=uxNotesDisplay}}
    </form>
  </nav>
</div>