<div {{bind-attr class="showSideMenu:nav-expanded"}}>
  <a {{action 'toggleSideMenu'}} id="nav-expander" class="nav-expander fixed">
    UX Notes &nbsp;<i class="fa fa-bars fa-lg white"></i>
  </a>

  <nav>
    <a {{action 'toggleSideMenu'}} id="nav-close">X</a>
      <div class='notepad'>
        {{showdown-addon uxNotesDisplay}}
      </div>
    </form>
  </nav>


</div>

