<div class="navbar navbar-default navbar-outer">
  <div class="navbar-header">
    <div class="container">

      <div class="navbar-brand">
        <img alt="Foreman" src="assets/foreman.png">
        <a href="/">Foreman</a>
      </div>

      {{#unless hideUserMenu}}
      <ul class="nav navbar-nav navbar-right navbar-header-menu navbar-collapse collapse">

        <li class="dropdown menu_tab_dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img alt="Change your avatar at gravatar.com" class="avatar small" src="assets/user.jpg">John Doe <span class="caret"></span>
          </a>

          <ul class="dropdown-menu pull-right">

            <li class="menu_tab_/users_edit">
              <a {{action "notImplemented"}}>My account</a>
            </li>

            <li class="divider">
            </li>

            <li class="menu_tab_/users_logout">
              <a {{action "signOut"}}>Log out</a>
            </li>

          </ul>

        </li>
      </ul>
      {{/unless}}

    </div>
  </div>
</div>