<div class="navbar navbar-default navbar-outer">
  <div class="navbar-header">
    <div class="container">

      <div class="navbar-brand">
        <!--[if IE]><div class='logo-small'> <![endif]-->
        <img alt="Foreman" src="foreman.png">
      <!--[if IE]></div> <![endif]-->
        <a href="/" data-id="aid_not_defined">Foreman</a>
      </div>

      <div>
        <ul class="nav navbar-nav navbar-right navbar-header-menu navbar-collapse collapse" id="menu4">

          <li class="dropdown menu_tab_dropdown">
            <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown" id="account_menu"><img alt="Change your avatar at gravatar.com" class="avatar small" src="user.jpg">John Doe <span class="caret"></span></a>

            <ul class="dropdown-menu pull-right">
              <li class="menu_tab_/users_edit"><a {{action "notImplemented"}} data-id="aid_users_1_edit" id="menu_item_my_account">My account</a></li>
              <li class="divider"></li>
              <li class="menu_tab_/users_logout"><a {{action "signOut"}} data-id="aid_users_logout" id="menu_item_logout" rel="nofollow">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>